.profile__info {
  margin: 0;
  padding: 0;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 24px;
  column-gap: 18px;
}

/* 768px */
@media screen and (max-width: 768px) {
  .profile__info {
    margin-bottom: 32px;
  }
}

/* 680px */
@media screen and (max-width: 680px) {
  .profile__info {
    margin: 0 auto 32px;
    grid-template-columns: 1fr 18px;
  }
}

/* 320px */
@media screen and (max-width: 320px) {
  .profile__info {
    column-gap: 10px;
    margin-left: 46px;
  }
}
