.popup__close {
  width: 32px;
  height: 32px;
  position: absolute;
  margin: 0;
  padding: 0;
  top: -40px;
  right: -40px;
  background: transparent url(../../../images/close-icon.svg) no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.popup__close:hover {
  opacity: 0.6;
}

/* 720px */
@media screen and (max-width: 720px) {
  .popup__close {
    top: -36px;
    right: -36px;
  }
}

/* 600px */
@media screen and (max-width: 600px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
  }
}
