.profile__add-button {
  margin: 0;
  padding: 0;
  width: 150px;
  height: 50px;
  background: transparent url(../../../images/profile-add-btn.svg) center no-repeat;
  background-size: auto;
  border: solid 2px #fff;
  border-radius: 2px;
  align-self: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.profile__add-button:hover {
  opacity: 0.6;
}

/* 860px */
@media screen and (max-width: 860px) {
  .profile__add-button {
    background-size: 16px;
    width: 282px;
  }
}
